<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYHt-ZvK2f_vnUFT3ckbdG0DZsCnyxdeg</string>
	<key>GCM_SENDER_ID</key>
	<string>513918609405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nuri01</string>
	<key>PROJECT_ID</key>
	<string>baeumnuri-8166f</string>
	<key>STORAGE_BUCKET</key>
	<string>baeumnuri-8166f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513918609405:ios:ce481d27e1ed4926ec1b94</string>
</dict>
</plist>